*,*:after,*:before{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     }
     body{
     font-family: arial;
     font-size: 16px;
     margin: 0;
     color: #000;
     justify-content: space-around;
     align-items: center;
     }
     .form_box{
     background:#ffffff;
     padding: 14px 18px;
     border-radius: 7px;
     border: 1px solid #ddd;
     border-radius: 8px;
     width: 350px;
     }
     h1{
          margin-top: 0;
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 28px;
          line-height: 1.2;
        }
        .input-row{margin-bottom: 13px; position: relative;}
        .form_box input:not([type="submit"]),
        .form_box textarea,
        .form_box select{
        font-family: arial;
        font-size: 13px;
        line-height: 19px;
        width: 100%;
        margin: 0 0 3px;
        padding: 3px 7px;
        height: 31px;
        color: #000;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #a6a6a6;
        border-top-color:#494949 ;
        color: #a6a6a6;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset
        }
        *::-webkit-input-placeholder {
        opacity: 1;
        color: inherit;
        }
        .form_box textarea{ height: 100px; resize: none; }
        .error{
        font-weight: 700;
        font-size: 14px;
        color: red;
        display: none;
        }
                     
        .form_box input[type="submit"]{
          height: 100%;
          width: 100%;
          font-size: 13px;
          cursor: pointer;
          border-radius: 5px;
          border:0;
          color: #0f1111 ;
          background-color: #ffd814;
          display: block;
          z-index: 20;
          padding: 6px;
          }
.form_box input[type="submit"]:hover{ background: #f0c14b; }
.register-btn a{
  text-decoration: none;
}
label{
  display: block;
  padding-right: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  color: #111;
}
.privacy  , .login{
  font-size:12px;
  line-height: 18px;
}
.privacy span a:hover{
  color: #c45500;
}
.foter-links a:hover{
  color: #c45500;
}
.login a:hover{
  color: #c45500;
}
.foter-links a{
  padding: 0px 25px;
  font-size: 11px;
  text-align: center;
}
.footer{
  font-size: 11px;
}
.new-amazom p{
  font-size: 12px;
  font-weight: 400;
  color: #767676;
}
.new-amazom{
  content: "";
  position: relative;
  z-index: 222222;
  padding-top: 1px;
  top: 2px;
}
.new-amazom::after{
  content: "";
  border-top: 1px solid #e7e7e7;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  width: 100%;
  display: block;
}
.btn-create{
  background-color: #fff;
  font-size: 13px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
  padding: 6px;
}